.ShopPage {
    width: 100%;
    height: 100vh;
}

.ShopBanner {
    position: relative;
    height: 200px;
    background-image: url('../../assets/imgs/12.jpg');
    background-size: cover;
    background-position: top;
    width: 100%;
}

.ShopBannerContent {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.ShopGrid {
    width: 100%;
    height: 100vh;
}

.ShopLeftSideBarMenu {
    background-color: blue;
}

.ProductGridArea {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    height: 100%;
}