.ShopPage {
    width: 100%;
    height: 100vh;
    display: flex;
}

.ShopGrid {
    width: 100%;
    height: 100vh;
}

.ShopLeftSideBarMenu {
    background-color: blue;
}

.ProductContainer {
    width: 200px;
    height: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}